---
layout: default
---

<script src="/js/search.js"></script>

<div class="box" id="top">
    {{ content }}

    <div class="box horizontal">
        {% for link in site.data.links %}
        <a href="{{ link.url }}" title="{{ link.name }}">
            <img src="{{ link.img }}" alt="{{ link.name }}">
        </a>
        {% endfor %}
    </div>
</div>

<div class="box">
    <h3>featuring {{ site.data.games | size }} games</h3>
    <input type="text" id="game-search" placeholder="search..." />
</div>

<div id="game-list">
    {% for game in site.data.games %}
    <a class="game {{ game.tags | join: ' ' }}" id="{{ game.id }}" href="/games/{{ game.id }}" title="{{ game.name }}">
        <img src="/assets/games/{{ game.id }}.png" alt="{{ game.name }}">
        {% if game.calculus-games %}
        <img src="https://cdn.calcugames.xyz/logo.png" alt="CalcuGames" class="calcugames">
        {% endif %}
    </a>
    {% endfor %}
</div>